[submodule "lexicalresources"]
	path = lexicalresources
	url = https://github.com/DARIAH-ERIC/lexicalresources.git
	update = merge
[submodule "TEI-Stylesheets"]
	path = TEI-Stylesheets
	url = https://github.com/TEIC/Stylesheets.git
	update = merge
